*{margin:0;
  padding: 0;
  box-sizing: border-box;}
  .App {
    text-align: center;
  }
  
  body{
    background-color:pink ;
  }
  .heading{
    color:black;
    
  }
  #naming{
    border-radius: 10px;
    height:50px;
    font-weight: bolder;
    text-align: center;
  }
  #section{
    border-radius: 10px;
    height:50px;
    text-align: center;
    font-weight: bolder;
  }
  #numeric{
    border-radius: 10px;
    height:50px;
    text-align: center;
    font-weight: bolder;
  }
  #submit{
    text-align: center;
    height:40px;
    width: 100px;
    border-radius: 10px;
    font-size: larger;
    background-color: aquamarine;
    margin-top: 5px;
    background-color: brown;
  }
  #submit:hover{
    background-color: #ff00bf;
  }
  .showDataStyle{
    gap: 10px;
    height: 50px;
    width: 250px;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 5px;
    font-weight: bolder;
    font-family: cursive;
   background-color:brown;
  }
  
  #flex{
    width: 520px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color:rgb(66, 66, 66);
   color: white;
   text-align: center;
   align-content: center;
    
    position: absolute;
    bottom: 10%;
    left: 30%;
  }
  
  
  #form-div{
    line-height: 40px;
    height: 360px;
    width: 200px;
    
    background-color: aquamarine;
    margin:auto;
    
  }


  #goback-btn{
    width: 80px;
    font-size: bold;
    background-color: antiquewhite;
    font-family: sans-serif;
    border-radius: 10px;
   position:absolute;
   top: 10%;
   left: 45%;
  }