*{margin:0;
  padding: 0;
  box-sizing: border-box;}
  .App {
    text-align: center;
  }
  
  body{
    background-color:pink ;
  }
  .heading{
    color:black;
    
  }
  #naming{
    border-radius: 10px;
    height:50px;
    font-weight: bolder;
    text-align: center;
  }
  #section{
    border-radius: 10px;
    height:50px;
    text-align: center;
    font-weight: bolder;
  }
  #numeric{
    border-radius: 10px;
    height:50px;
    text-align: center;
    font-weight: bolder;
  }
  #submit{
    text-align: center;
    height:40px;
    width: 100px;
    border-radius: 10px;
    font-size: larger;
    background-color: aquamarine;
    margin-top: 5px;
    background-color: brown;
  }
  #submit:hover{
    background-color: #ff00bf;
  }
  .showDataStyle{
    
    height: 80px;
  width : 390px;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 5px;
    font-weight: bolder;
    font-family: cursive;
   background-color:bisque;
   padding-top:20px;
   
   word-wrap:break-word;

  }
  
  #flex{
    width: 850px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color:#00f7ff;
   
    
    position: absolute;
    top: 20%;
    left: 25%;
  }
  
  
  #form-div{
    line-height: 40px;
    height: 360px;
    width: 200px;
    
    background-color: aquamarine;
    margin:auto;
    
  }
#goback-btn{
  position:absolute;
  top:10%;
  right:10%;
  width:100px;
  height: 25px;
  border-radius: 10px;
}
